/* Draggable box must always be - absolutely positioned */
/* Parent container where box is must be - relatively positioned */

body, 
html,
.container {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #457b9d;
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    position: relative;
    border: 5px solid #e63946;
}

.box {
    display: flex;
    position: absolute;
    top: 100px;
    left: 140px;
    color: black;
    background: #a7c957;
    width: 150px;
    height: 150px;
    cursor: pointer;
    user-select: none;
}